body {
    margin: 0;
	line-height: 1.15;
    font-family: sans-serif; 
}

#app {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 5px;
    aspect-ratio: 1/1;
    width: 160px;
    box-sizing: border-box;
    > .name {
        text-align: center;
    }
}