body {
    margin: 0;
	line-height: 1.15;
    font-family: sans-serif; 
}

.list {
    display: flex;
    flex-wrap: wrap;

    .list__item {
        padding: 5px;
        aspect-ratio: 1/1;
        width: 150px;
        box-sizing: border-box;
        > .name {
            text-align: center;
        }
    }
}