.btn {
    padding: 9px 13px;
    border: 1px solid var(--nav__btn--bg);
    border-radius: 4px;
    background-color: var(--nav__btn--bg);
    color: var(--app--color);
    cursor: pointer;
    font-size: 0.875rem;
    user-select: none;

    svg {
        display: block;
        aspect-ratio: 1/1;
        width: 20px;
        height: 20px;
    }

    &#settingsBtn,
    &.close {
        padding: 8px;
    }
}