:root {
    color-scheme: light;

    --form__select: #E0E0E0;
    --form__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23212121" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --app--bg: #E0E0E0;
    --app--color: #212121;

    --nav--bg: #FFFFFF;
    --nav__btn--bg: #E0E0E0;

    --pagination--bg: #EEEEEE;
    --pagination--color: #212121;
    --pagination__active--bg: #ffffff;
    --pagination__active--color: #212121;
    --pagination__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23212121" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --card--bg: #ffffff;
    --card__catched--bg: #EEEEEE;

    --dialog--bg: #ffffff;
    --backdrop--bg: #212121;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --form__select: #212121;
        --form__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

        --app--bg: #212121;
        --app--color: #EEEEEE;

        --nav--bg: #424242;
        --nav__btn--bg: #212121;

        --pagination--bg: #424242;
        --pagination--color: #EEEEEE;
        --pagination__active--bg: #757575;
        --pagination__active--color: #EEEEEE;
        --pagination__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

        --card--bg: #424242;
        --card__catched--bg: #2f2f2f;

        --dialog--bg: #424242;
        --backdrop--bg: #212121;
    }
}

[color-scheme="light"] {
    color-scheme: light;

    --form__select: #E0E0E0;
    --form__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23212121" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --app--bg: #E0E0E0;
    --app--color: #212121;

    --nav--bg: #FFFFFF;
    --nav__btn--bg: #E0E0E0;

    --pagination--bg: #EEEEEE;
    --pagination--color: #212121;
    --pagination__active--bg: #ffffff;
    --pagination__active--color: #212121;
    --pagination__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23212121" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --card--bg: #ffffff;
    --card__catched--bg: #EEEEEE;

    --dialog--bg: #ffffff;
    --backdrop--bg: #212121;
}

[color-scheme="dark"] {
    color-scheme: dark;

    --form__select: #212121;
    --form__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --app--bg: #212121;
    --app--color: #EEEEEE;

    --nav--bg: #424242;
    --nav__btn--bg: #212121;

    --pagination--bg: #424242;
    --pagination--color: #EEEEEE;
    --pagination__active--bg: #757575;
    --pagination__active--color: #EEEEEE;
    --pagination__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --card--bg: #424242;
    --card__catched--bg: #2f2f2f;

    --dialog--bg: #424242;
    --backdrop--bg: #212121;
}

[color-scheme="dim"] {
    color-scheme: dark;

    --form__select: #263238;
    --form__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --app--bg: #263238;
    --app--color: #EEEEEE;

    --nav--bg: #37474F;
    --nav__btn--bg: #263238;

    --pagination--bg: #37474F;
    --pagination--color: #EEEEEE;
    --pagination__active--bg: #546E7A;
    --pagination__active--color: #EEEEEE;
    --pagination__select__arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23EEEEEE" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');

    --card--bg: #37474F;
    --card__catched--bg: #2c3a42;

    --dialog--bg: #37474F;
    --backdrop--bg: #263238;
}