:root {
    color-scheme: light;

    --app--bg: #E0E0E0;
    --app--color: #212121;

    --nav--bg: #FFFFFF;
    --nav__btn--bg: #E0E0E0;

    --card--bg: #ffffff;
    --card__catched--bg: #EEEEEE;

    --dialog--bg: #ffffff;
    --backdrop--bg: #212121;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --app--bg: #212121;
        --app--color: #EEEEEE;

        --nav--bg: #424242;
        --nav__btn--bg: #212121;

        --card--bg: #424242;
        --card__catched--bg: #2f2f2f;

        --dialog--bg: #424242;
        --backdrop--bg: #212121;
    }
}

[color-scheme="light"] {
    color-scheme: light;

    --app--bg: #E0E0E0;
    --app--color: #212121;

    --nav--bg: #FFFFFF;
    --nav__btn--bg: #E0E0E0;

    --card--bg: #ffffff;
    --card__catched--bg: #EEEEEE;

    --dialog--bg: #ffffff;
    --backdrop--bg: #212121;
}

[color-scheme="dark"] {
    color-scheme: dark;

    --app--bg: #212121;
    --app--color: #EEEEEE;

    --nav--bg: #424242;
    --nav__btn--bg: #212121;

    --card--bg: #424242;
    --card__catched--bg: #2f2f2f;

    --dialog--bg: #424242;
    --backdrop--bg: #212121;
}

[color-scheme="dim"] {
    color-scheme: dark;

    --app--bg: #263238;
    --app--color: #EEEEEE;

    --nav--bg: #37474F;
    --nav__btn--bg: #263238;

    --card--bg: #37474F;
    --card__catched--bg: #2c3a42;

    --dialog--bg: #37474F;
    --backdrop--bg: #263238;
}