dialog {
    --border-radius: 16px;
    background: var(--dialog--bg);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#dialogSettings {
    border: 0;
    border-radius: 16px;
    padding: 0;
    width: 400px;
    max-width: calc(100% - 48px);
    box-sizing: border-box;

    >header {
        margin: 24px;
        font-weight: bold;
        letter-spacing: 0.05em;
    }

    main {
        margin: 24px;

        section {
            margin-block: 24px;
            border-block-start: 1px solid var(--backdrop--bg);
            padding-block-start: 12px;

            header {
                margin-block: 12px 24px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-block: 12px;
            }
        }
    }

    &::backdrop {
        position: fixed;
        inset: 0;
        background: var(--backdrop--bg, #212121);
        opacity: 0.75;
    }
}

#pokemonDialog {
    border: 0;
    border-radius: 16px;
    padding: 24px;
    width: 600px;
    max-width: calc(100% - 48px);
    box-sizing: border-box;
    text-align: center;

    .dialog__types {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;

        span {
            border: 1px solid var(--app--color);
            padding: 4px 8px;
            border-radius: 16px;
        }
    }

    &::backdrop {
        position: fixed;
        inset: 0;
        background: var(--backdrop--bg, #212121);
        opacity: 0.75;
    }
}