#pokemonDialog {
    border: 0;
    border-radius: 16px;
    padding: 24px;
    width: 800px;
    max-width: calc(100% - 48px);
    box-sizing: border-box;
    text-align: center;

    .dialog__types {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;

        span {
            border: 1px solid var(--text--color);
            padding: 4px 8px;
            border-radius: 16px;
        }
    }

    &::backdrop {
        position: fixed;
        inset: 0;
        background: var(--backdrop--bg, #212121);
        opacity: 0.75;
    }
}