#pokemonList {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    grid-gap: 12px;
    gap: 16px;
    margin: 16px;
    // @media (width >= 480px) {
    //     grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    //     grid-gap: 16px;
    // }
}