:root {
    --app--bg: #EEEEEE;
    --item__card--bg: #ffffff;
    --backdrop--bg: #212121;
    --text--color: #212121;
}

#app {
    position: relative;
}

body {
    margin: 0;
    padding-block-end: 120px;
    min-height: 100dvh;
    background: var(--app--bg);
    font: 16px sans-serif;
    line-height: 1.15;
    box-sizing: border-box;
    overflow-y: scroll;
}


.scrollDisabled {
    overflow-y: hidden;
}