:root {
    --app__bg: #EEEEEE;
    --item__card__bg: #ffffff;
    --backdrop: #212121;
}

::backdrop {
    --backdrop--color: var(--backdrop, #212121);
}

#app {
    position: relative;
}

body {
    margin: 0;
    padding-block-end: 120px;
    min-height: 100dvh;
    background: var(--app__bg);
    font: 16px sans-serif;
    line-height: 1.15;
    box-sizing: border-box;
    overflow-y: scroll;
}


.scrollDisabled {
    overflow-y: hidden;
}