:root {
  color-scheme: light;
  --app--bg: #E0E0E0;
  --app--color: #212121;
  --nav--bg: #FFFFFF;
  --nav__btn--bg: #E0E0E0;
  --pagination--bg: #EEEEEE;
  --pagination--color: #212121;
  --pagination__active--bg: #ffffff;
  --pagination__active--color: #212121;
  --card--bg: #ffffff;
  --card__catched--bg: #EEEEEE;
  --dialog--bg: #ffffff;
  --backdrop--bg: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --app--bg: #212121;
    --app--color: #EEEEEE;
    --nav--bg: #424242;
    --nav__btn--bg: #212121;
    --pagination--bg: #424242;
    --pagination--color: #EEEEEE;
    --pagination__active--bg: #757575;
    --pagination__active--color: #EEEEEE;
    --card--bg: #424242;
    --card__catched--bg: #2f2f2f;
    --dialog--bg: #424242;
    --backdrop--bg: #212121;
  }
}
[color-scheme=light] {
  color-scheme: light;
  --app--bg: #E0E0E0;
  --app--color: #212121;
  --nav--bg: #FFFFFF;
  --nav__btn--bg: #E0E0E0;
  --pagination--bg: #EEEEEE;
  --pagination--color: #212121;
  --pagination__active--bg: #ffffff;
  --pagination__active--color: #212121;
  --card--bg: #ffffff;
  --card__catched--bg: #EEEEEE;
  --dialog--bg: #ffffff;
  --backdrop--bg: #212121;
}

[color-scheme=dark] {
  color-scheme: dark;
  --app--bg: #212121;
  --app--color: #EEEEEE;
  --nav--bg: #424242;
  --nav__btn--bg: #212121;
  --pagination--bg: #424242;
  --pagination--color: #EEEEEE;
  --pagination__active--bg: #757575;
  --pagination__active--color: #EEEEEE;
  --card--bg: #424242;
  --card__catched--bg: #2f2f2f;
  --dialog--bg: #424242;
  --backdrop--bg: #212121;
}

[color-scheme=dim] {
  color-scheme: dark;
  --app--bg: #263238;
  --app--color: #EEEEEE;
  --nav--bg: #37474F;
  --nav__btn--bg: #263238;
  --pagination--bg: #37474F;
  --pagination--color: #EEEEEE;
  --pagination__active--bg: #546E7A;
  --pagination__active--color: #EEEEEE;
  --card--bg: #37474F;
  --card__catched--bg: #2c3a42;
  --dialog--bg: #37474F;
  --backdrop--bg: #263238;
}

html {
  scroll-behavior: smooth;
}

#app {
  position: relative;
}

body {
  margin: 0;
  padding-block-end: 120px;
  min-height: 100dvh;
  background: var(--app--bg);
  color: var(--text--color);
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  overflow-y: scroll;
}

.scrollDisabled {
  overflow: hidden;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 12px 16px;
  background: var(--nav--bg);
  z-index: 1;
  box-shadow: 0 1px var(--app--bg);
}

#pokemonList {
  gap: 16px;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  grid-gap: 12px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 8px;
  background: var(--card--bg);
  box-sizing: border-box;
  font-size: 1rem;
  transition: 0.2s;
  cursor: pointer;
  container-type: inline-size;
  container-name: card;
}
.card:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background: #BDBDBD;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.card:after {
  content: " ";
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.card .card__id {
  position: absolute;
  inset: 8px 8px auto auto;
}
.card .card__name {
  position: absolute;
  inset: 8px auto auto 8px;
  text-align: center;
  font-size: 1rem;
}
.card .card__types {
  position: absolute;
  inset: auto auto 4px auto;
  display: flex;
  gap: 4px;
  text-align: center;
}
@media (width >= 480px) {
  .card .card__types {
    inset: auto auto 8px auto;
  }
}
.card .card__types .type {
  border-radius: 99px;
}
.card .card__image {
  max-width: 60%;
}
.card .card__image img {
  max-width: 100%;
  height: auto;
}
.card[data-catched] {
  background: var(--card__catched--bg);
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 99;
  pointer-events: none;
}
.scrollDisabled .loader {
  overflow-y: scroll;
}
.loader .loader--top,
.loader .loader--bottom {
  position: absolute;
  width: 100%;
  height: 50dvh;
  background: gray;
  pointer-events: auto;
  transition: 0.3s;
}
.loader .loader--top {
  inset: -50% 0 auto 0;
}
.loader .loader--bottom {
  inset: auto 0 -50% 0;
}
.loader.loading .loader--top {
  inset: 0 0 auto 0;
}
.loader.loading .loader--bottom {
  inset: auto 0 0 0;
}

dialog {
  --border-radius: 16px;
  background: var(--dialog--bg);
  border-radius: var(--border-radius);
}
dialog::backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop--bg, #212121);
  opacity: 0.75;
}
dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
dialog button.close {
  margin-inline-start: auto;
}

#dialogSettings {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 600px;
  height: 100%;
  max-width: calc(100% - 24px);
  max-height: unset;
  box-sizing: border-box;
  font-size: 1rem;
  container-type: inline-size;
  container-name: navDialog;
}
#dialogSettings > header {
  margin: 12px 16px;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}
#dialogSettings main {
  margin: 12px 16px 24px;
}
@container navDialog (width >=480px) {
  #dialogSettings main {
    margin-block-end: 48px;
  }
}
#dialogSettings section {
  margin-block: 24px;
  border-block-start: 1px solid var(--backdrop--bg);
  padding-block-start: 24px;
}
#dialogSettings section:first-of-type {
  margin-block-start: 12px;
}
#dialogSettings section .section__heading {
  display: block;
  margin-block: 0 24px;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
#dialogSettings section ul {
  margin: 0;
  border: 1px solid var(--backdrop--bg);
  border-radius: 8px;
  padding: 0;
  list-style: none;
}
#dialogSettings section ul li {
  padding: 16px;
}
#dialogSettings section ul li + li {
  border-block-start: 1px solid var(--backdrop--bg);
}
#dialogSettings section ul li.inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
@container navDialog (width >=400px) {
  #dialogSettings section ul li.inline {
    flex-direction: row;
    align-items: center;
  }
}
#dialogSettings section button {
  flex: 0 0 auto;
}
#dialogSettings .danger button {
  color: #f85149;
}
#dialogSettings input {
  padding: 9px 11px;
  border: 1px solid var(--backdrop--bg);
  border-radius: 4px;
  font-size: 0.875rem;
  box-sizing: border-box;
}
#dialogSettings select {
  border: 1px solid var(--backdrop--bg);
  border-radius: 4px;
  padding: 9px 11px;
  color: var(--app--color);
  font-size: 0.875rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#dialogSettings .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
@container navDialog (width >=400px) {
  #dialogSettings .input-group {
    flex-direction: row;
  }
}
#dialogSettings .input-group input {
  flex-grow: 1;
  width: 100%;
}
#dialogSettings .heading {
  margin-block-end: 4px;
  display: block;
  font-weight: bold;
}
#dialogSettings p {
  margin: 0;
  font-size: 0.875rem;
}
#dialogSettings p code {
  padding: 2px 6px;
  background: var(--app--bg);
  border-radius: 4px;
}

#pokemonDialog {
  border: 0;
  padding: 16px;
  width: 600px;
  max-width: calc(100% - 48px);
  box-sizing: border-box;
}
#pokemonDialog .info {
  text-align: center;
}
#pokemonDialog .dialog__types {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}
#pokemonDialog .dialog__types span {
  border: 1px solid var(--app--color);
  padding: 4px 8px;
  border-radius: 16px;
}
#pokemonDialog .catched {
  display: flex;
}
#pokemonDialog .catched input {
  display: none;
}
#pokemonDialog .catched label {
  padding: 6px;
}
#pokemonDialog .catched label svg {
  width: 24px;
  height: 24px;
  fill: var(--app--color);
}
#pokemonDialog .catched #isCatched + label .catched {
  display: none;
}
#pokemonDialog .catched #isCatched:checked + label .notCatched {
  display: none;
}
#pokemonDialog .catched #isCatched:checked + label .catched {
  display: block;
}

.btn {
  padding: 9px 13px;
  border: 1px solid var(--nav__btn--bg);
  border-radius: 4px;
  background: var(--nav__btn--bg);
  color: var(--app--color);
  cursor: pointer;
  font-size: 0.875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn svg {
  display: block;
  aspect-ratio: 1/1;
  width: 20px;
  height: 20px;
}
.btn#settingsBtn, .btn.close {
  padding: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 16px;
}
.pagination ul {
  display: none;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (width >= 480px) {
  .pagination ul {
    display: flex;
  }
}
.pagination li {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  padding: 0;
  width: 36px;
  aspect-ratio: 1/1;
  background: var(--pagination--bg);
  color: var(--pagination--color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pagination .active {
  display: flex;
  background: var(--pagination__active--bg);
  color: var(--pagination__active--color);
}
.pagination li:first-of-type,
.pagination li:last-of-type,
.pagination li:has(+ * + .active, + .active),
.pagination .active + li,
.pagination .active + li + li {
  display: flex;
}
.pagination select {
  border: 1px solid var(--backdrop--bg);
  border-radius: 4px;
  padding: 9px 11px;
  background-color: var(--pagination--bg);
  color: var(--app--color);
  font-size: 0.875rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (width >= 480px) {
  .pagination select {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */