:root {
    --app__bg: #EEEEEE;
    --item__card__bg: #ffffff;
}

#app {
    position: relative;
    min-height: 100dvh;
    background: var(--app__bg);
}

body {
    margin: 0;
    font: 16px sans-serif;
	line-height: 1.15;
}

.list__wrapper {
    display: flex;
    justify-content: center;
}

.list {
    gap: 16px;
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    grid-gap: 16px;

    .list__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 8px;
        background: var(--item__card__bg, #ffffff);
        box-sizing: border-box;
        font: 0.75rem sans-serif;

        container-type: inline-size;
        container-name: card;

        &:before {
            content: ""; 
            position: absolute;
            inset: 0;
            border-radius: 4px;
            background: #BDBDBD;
            z-index: 1;
            pointer-events: none;
            opacity: 0;
            transition: .3s;
        }

        &:after {
            content: " ";
            position: absolute;
            z-index: 2;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
            pointer-events: none;
            opacity: 0;
            transition: .3s;
        }

        &.loading {
            &:before,
            &:after {
                opacity: 1;
                pointer-events: auto;
            }
        }

        @keyframes lds-dual-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        
        .item__id {
            position: absolute;
            inset: 8px 8px auto auto;
            text-align: center;
            @container card (width >= 180px) {
                font: 1rem sans-serif;
            }
        }

        .item__image {
            text-align: center;
        }

        .item__name {
            position: absolute;
            inset: 8px auto auto 8px;
            text-align: center;
            font: 0.75rem sans-serif;
            @container card (width >= 180px) {
                font: 1rem sans-serif;
            }
        }

        .item__type {
            position: absolute;
            inset: auto auto 8px auto;
            text-align: center;
        }
    }
}

.scrollDisabled {
    overflow-y: hidden;
    > body {
        overflow: scroll;
    }
}

.loader  {
    position: fixed;
    inset: 0;
    z-index: 99;
    pointer-events: none;

    .scrollDisabled & {
        overflow-y: scroll;
    }
    
    .loader--top,
    .loader--bottom {
        position: absolute;
        width: 100%;
        height: 50dvh;
        background: gray;
        pointer-events: auto;
        transition: .3s;
    }

    .loader--top {
        inset: -50% 0 auto 0;
    }
    
    .loader--bottom {
        inset: auto 0 -50% 0;
    }

    &.loading {

        .loader--top {
            inset: 0 0 auto 0;
        }
        .loader--bottom {
            inset: auto 0 0 0;
        }
    }
}

footer {
    padding: 5em 16px 6em;
    text-align: center;
    font: 0.875rem sans-serif;
    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}