@import 'variable';
@import 'nav';
@import 'list';
@import 'card';
@import 'loader';

.scrollDisabled {
    overflow-y: hidden;
    > body {
        overflow: scroll;
    }
}

footer {
    padding: 5em 16px 6em;
    text-align: center;
    font: 0.875rem sans-serif;
    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}