:root {
  color-scheme: light;
  --app--bg: #EEEEEE;
  --app--color: #212121;
  --nav--bg: #FFFFFF;
  --nav__btn--bg: #EEEEEE;
  --card--bg: #FFFFFF;
  --dialog--bg: #FFFFFF;
  --backdrop--bg: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --app--bg: #212121;
    --app--color: #EEEEEE;
    --nav--bg: #424242;
    --nav__btn--bg: #212121;
    --card--bg: #424242;
    --dialog--bg: #424242;
    --backdrop--bg: #212121;
  }
}
[color-scheme=light] {
  color-scheme: light;
  --app--bg: #EEEEEE;
  --app--color: #212121;
  --nav--bg: #FFFFFF;
  --nav__btn--bg: #EEEEEE;
  --card--bg: #ffffff;
  --dialog--bg: #ffffff;
  --backdrop--bg: #212121;
}

[color-scheme=dark] {
  color-scheme: dark;
  --app--bg: #212121;
  --app--color: #EEEEEE;
  --nav--bg: #424242;
  --nav__btn--bg: #212121;
  --card--bg: #424242;
  --dialog--bg: #424242;
  --backdrop--bg: #212121;
}

[color-scheme=dim] {
  color-scheme: dark;
  --app--bg: #263238;
  --app--color: #EEEEEE;
  --nav--bg: #37474F;
  --nav__btn--bg: #263238;
  --card--bg: #37474F;
  --dialog--bg: #37474F;
  --backdrop--bg: #263238;
}

#app {
  position: relative;
}

body {
  margin: 0;
  padding-block-end: 120px;
  min-height: 100dvh;
  background: var(--app--bg);
  color: var(--text--color);
  font: 16px sans-serif;
  line-height: 1.15;
  box-sizing: border-box;
  overflow-y: scroll;
}

.scrollDisabled {
  overflow-y: hidden;
}

nav {
  display: flex;
  padding: 12px 24px;
  background: var(--nav--bg);
}

#pokemonList {
  gap: 16px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  grid-gap: 12px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background: var(--card--bg);
  box-sizing: border-box;
  font: 0.75rem sans-serif;
  transition: 0.2s;
  container-type: inline-size;
  container-name: card;
}
.card:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background: #BDBDBD;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.card:after {
  content: " ";
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.card .card__id {
  position: absolute;
  inset: 8px 8px auto auto;
}
.card .card__name {
  position: absolute;
  inset: 8px auto auto 8px;
  text-align: center;
  font: 0.75rem sans-serif;
}
@container card (width >=180px) {
  .card .card__name {
    font: 1rem sans-serif;
  }
}
.card .card__types {
  position: absolute;
  inset: auto auto 4px auto;
  display: flex;
  gap: 4px;
  text-align: center;
}
@media (width >= 480px) {
  .card .card__types {
    inset: auto auto 8px auto;
  }
}
.card .card__types .type {
  border-radius: 99px;
}
.card .card__image {
  max-width: 60%;
}
.card .card__image img {
  max-width: 100%;
  height: auto;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 99;
  pointer-events: none;
}
.scrollDisabled .loader {
  overflow-y: scroll;
}
.loader .loader--top,
.loader .loader--bottom {
  position: absolute;
  width: 100%;
  height: 50dvh;
  background: gray;
  pointer-events: auto;
  transition: 0.3s;
}
.loader .loader--top {
  inset: -50% 0 auto 0;
}
.loader .loader--bottom {
  inset: auto 0 -50% 0;
}
.loader.loading .loader--top {
  inset: 0 0 auto 0;
}
.loader.loading .loader--bottom {
  inset: auto 0 0 0;
}

dialog {
  --border-radius: 16px;
  background: var(--dialog--bg);
}
dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
dialog button.close {
  margin-inline-start: auto;
}

#dialogSettings {
  border: 0;
  border-radius: 16px;
  padding: 0;
  width: 400px;
  max-width: calc(100% - 48px);
  box-sizing: border-box;
}
#dialogSettings > header {
  margin: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#dialogSettings main {
  margin: 24px;
}
#dialogSettings main section {
  margin-block: 24px;
  border-block-start: 1px solid var(--backdrop--bg);
  padding-block-start: 12px;
}
#dialogSettings main section header {
  margin-block: 12px 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
#dialogSettings main section .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 12px;
}
#dialogSettings::backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop--bg, #212121);
  opacity: 0.75;
}

#pokemonDialog {
  border: 0;
  border-radius: 16px;
  padding: 24px;
  width: 600px;
  max-width: calc(100% - 48px);
  box-sizing: border-box;
  text-align: center;
}
#pokemonDialog .dialog__types {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}
#pokemonDialog .dialog__types span {
  border: 1px solid var(--app--color);
  padding: 4px 8px;
  border-radius: 16px;
}
#pokemonDialog::backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop--bg, #212121);
  opacity: 0.75;
}

button {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background: var(--nav__btn--bg);
  color: var(--app--color);
  cursor: pointer;
}
button svg {
  display: block;
  aspect-ratio: 1/1;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */